@media (max-width: 480px) {
/* 1 блок */    
.services{
    padding-bottom: 45px;
    &-headwrap{
        width: 100%;
        background-color: $bluelight;
        background-image: url(/img/left-texture.png), url(/img/rigth-texture.png);
        background-position: top left, bottom right;
        background-repeat: no-repeat;
        background-size: 100%, 100%;
        padding-top: 88px;
        padding-bottom: 46px;
        padding-left: 15px;
        padding-right: 15px;
    }
}
.services-items{
    &-col1{
        &-item {
            display: flex;
            flex-direction: column;
            flex-direction: column-reverse;
            min-height: 164px;
            & > p{
                font-size: 15px;
                line-height: 1.25;
                letter-spacing: 0.8px;
                text-align: center;
            }
            &:not(.outer){
                &:before{
                    top: 138px;
                    right: 2px;
                    width: 92%;
                }
            }
        }
        &-itemreverce {
            display: flex;
            flex-direction: column;
            min-height: 164px;
            & > p{
                font-size: 15px;
                line-height: 1.25;
                letter-spacing: 0.8px;
                text-align: center;
            }
            &:not(.outer){
                &:before{
                    top: 138px;
                    left: 2px;
                    width: 92%;
                }
            }    
        }
    }
}

.center{
    width: 0.2%;
    height: 479px;
    margin-top: 1px;
    border-right: 2px dotted $lightgrey;
}

.services-items-item-ccircle-red {
    width: 60px;
    height: 60px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 19px;
}
/* 2 блок */    
.order{ 
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: $padding-bottom-section-mob;
    &-bg{
        padding-top: 40px;
        padding-bottom: 88px;
    } 
    &-form{
        width: 90%;
        padding: 30px 5px 30px 5px;
        margin-top: -55px;
        padding: 42px 24px 42px 24px;
        background-size: 119%, 119%;
        &-namber{
            font-size: 28px;
            margin-bottom: 48px;
            &:after{
                top: 59px;
            }
        }
        &-formcontent{
            &-block{
                input[type="text"]{
                    width: 100%;
                }  
            }    
        }        
    }
}
/* end */
}
