@media (max-width: 480px) {
/* Красная кнопка */
.main-header-button {
    display: flex;
    position: inherit;
    width: 22%;
    background-color: #ec1b29;
    border: none;
    border-radius: 12px;
    padding: 7px 5px 8px 5px;
    margin-bottom: 0;
    z-index: 100;
    align-items: center;
    justify-content: center;
    img {
        height: 32px;
        margin-right: 0;
        filter: invert(1);
    }
    span {
        display: none;
    }
}

/* Чат */
.chat {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 111px;
    right: 17px;
    bottom: 17px;
    padding: 15px 9px 15px 9px;
    svg {
        width: 28px;
        height: 28px;
        margin-right: 0;
        margin-bottom: 3px;
    }
    span{
        &:nth-child(2){
            display: none;
        }
        &:nth-child(3){
            display: none;
        }
        &:nth-child(4){
            display: block;
        }   
    }
    
    
}

/* Btn-ripple */
.btn{
    width: 100%;
}




/* end */
}